! Xcursor --------------------------------------------------------------------

!Cursor
Xcursor.theme: Vainilla-DMZ-AA Xcursor.size: 22

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! Urxvt -----------------------------------------------------------------------

!Config Urxvt
!URxvt.depth: 32
!URxvt.background: rgba:1500/1500/1500/fff
URxvt.font: xft: TamsynFS 7x12r:pixelsize=10:antialias=false
URxvt.geometry: 30x18
URxvt.scrollBar: true
Urxvt.secondaryScroll: true
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #222222
URxvt.cursorColor: #404040
URxvt*background: #151515
!*background:    #202020
!*foreground:    #FFFFFF
!black
*color0 :            #222222
*color8 :            #454545
!red
*color1 :            #73301D
*color9 :            #73301D
!green
*color2 :            #3F4011
*color10:            #0E4C10
!yellow
*color3 :            #B48348
*color11:            #FFCAA2
!blue
*color4 :            #0F2141
*color12:            #5A667F
!magenta
*color5 :            #390000
*color13:            #D8ADCE
!cyan
*color6 :            #25411C
*color14:            #879FB4
!white
*color7 :            #C0C0C0
*color15:            #FFFFFF
